#go_back{
    margin: 50px auto;
    display: block;
    width: 150px;
}

h3{
    text-transform: uppercase;
    font-size: 50px!important;
    text-align: center;
    padding: 50px 0;
}

.heading{
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: #af0809;
    text-transform: uppercase;
    margin: 20px auto;
}

table{
    text-align: center;
}

.products{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #af0809;
    text-transform: uppercase;
    margin: 20px auto;
}

.product{
    border: solid 1px #af0809;
    text-align: center;
    width: 80%;
    margin: 0 auto 10px auto;
}

label{
    font-size: 20px;
    text-align: center
}

input, select{
    border: none;
    border-bottom: 2px solid #af0809;
    outline: none;
    font-size: 18px!important;
    margin: 20px 5px!important;
}

input, select{
    height: 50px;
    text-align: center;
}

input:focus{
    background-color: #f5f2f2;
}

form{
    padding: 10px 0;
    font-weight: bold;
}

#msg{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: red;
}