#id_password{
    display: none;
}

h3{
    text-transform: uppercase;
    font-size: 50px!important;
    text-align: center;
    padding-top: 50px;
}

label{
    width: 20vw;
    font-size: 20px
}

input, textarea{
    width: 40vw;
    border: none;
    border-bottom: 2px solid #af0809;
    outline: none;
    text-align: center;
    font-size: 18px!important;
}

input{
    height: 50px;
}

input:focus, textarea:focus{
    background-color: #f5f2f2;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #af0809;
    width: 80vw;
    margin: 0 auto 100px auto;
    padding: 50px 0;
    border-radius: 30px;
    font-weight: bold;
}

#form-btn{
    margin-top: 50px!important;
    background-color: #af0809;
    outline: none;
    border: none;
}

#form-btn:hover{
    background-color: black;
}

#go_back{
    margin: -50px auto 50px auto;
    display: block;
    width: 150px;

}