#go_back{
    margin: 50px auto;
    display: block;
    width: 150px;
}

h3{
    text-transform: uppercase;
    font-size: 50px!important;
    text-align: center;
    padding: 50px 0;
}

.heading{
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: #af0809;
    text-transform: uppercase;
    margin: 20px auto;
}

.card{
    border: none!important;
    border: 2px solid #af0809!important;
    border-radius: 30px!important;
}

label{
    font-size: 20px;
    margin: 20px 0 0 40px!important;
}

input{
    border: none;
    border-bottom: 2px solid #af0809;
    outline: none;
    text-align: center;
    font-size: 18px!important;
    margin: 40px!important;
}

input{
    height: 50px;
}

input:focus, textarea:focus{
    background-color: #f5f2f2;
    
}

form{
    padding: 10px 0;
    font-weight: bold;
}
