{% extends 'navMenu.html' %}
{% block title %}O nas{% endblock %}
{% block additional %}
    {% load static %}
    <link href="{% static 'store/delivery_address.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container">
        <h3 class="mb-5">O nas</h3>
    </div>

    <div class="container" id="list" style="min-height: 74vh">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate eos eum laboriosam maxime nisi officia quidem. Autem dignissimos nihil quis quo voluptas. Adipisci aliquam autem delectus magni maiores natus obcaecati perspiciatis qui repudiandae sequi? Adipisci enim expedita officia quisquam saepe. Animi, consequuntur delectus fuga natus porro tempore ullam! Amet culpa doloribus eos harum laudantium minima minus nam natus neque nesciunt praesentium quaerat quam quia sapiente sit suscipit temporibus ullam veniam voluptates, voluptatum. Animi consequatur maiores modi obcaecati perferendis similique voluptatibus. Est iste numquam veritatis voluptas voluptate. Accusamus ad aspernatur blanditiis, commodi consectetur eligendi maiores minus omnis quis ullam, voluptatem.
        </p>

    </div>

{% endblock %}