{% extends 'navMenu.html' %}

{% block additional %}
    {% load static %}
    <link href="{% static 'store/customer_orders.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container">
        <h3>Twoje zamówienia</h3>
    </div>

    <div id="main" class="container text-black" style="min-height: 74vh;">
          <a class="heading collapsed" data-bs-toggle="collapse" href="#actual" role="button" aria-expanded="true" aria-controls="collapseExample">
              Aktualne zamówienia
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
              </svg>
          </a>
          <div class="collapse show settings" id="actual">
              <table class="table align-middle">
                  <thead>
                      <tr>
                          <th>Nr. zamówienia</th>
                          <th>Cena (zł)</th>
                          <th>Produkty</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for order in object_list %}
                            {% if order.status != 'ordered' %}
                                <tr>
                                    <td>{{order.order_nr}}</td>
                                    <td>{{order.price}}</td>
                                    <td>
                                        <a class="products collapsed" data-bs-toggle="collapse" href="#a{{order.order_nr}}" role="button" aria-expanded="true" aria-controls="collapseExample">
                                            Zobacz listę
                                        </a>
                                        <div class="collapse" id="a{{order.order_nr}}">
                                            <p>
                                                {% for product in order.products.all %}
                                                    {{product.product.name}} - {{product.amount}}szt.<br><br>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <a class="btn btn-warning" href="{% url 'order_details' order.order_nr %}">Szczegóły</a>
                                    </td>
                                    <td>
                                        {% if order.status == 'unsent' %}
                                            W magazynie
                                        {% elif order.status == 'sent' %}
                                            W drodze
                                        {% else %}
                                            Dostarczone
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>

          <a class="heading collapsed" data-bs-toggle="collapse" href="#archival" role="button" aria-expanded="true" aria-controls="collapseExample">
              Archiwum zamówień
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
              </svg>
          </a>
          <div class="collapse show settings" id="archival">
              <table class="table align-middle">
                  <thead>
                      <tr>
                          <th>Nr. zamówienia</th>
                          <th>Cena (zł)</th>
                          <th>Produkty</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for order in object_list %}
                            {% if order.status == 'ordered' %}
                                <tr>
                                    <td>{{order.order_nr}}</td>
                                    <td>{{order.price}}</td>
                                    <td>
                                        <a class="products collapsed" data-bs-toggle="collapse" href="#b{{order.order_nr}}" role="button" aria-expanded="true" aria-controls="collapseExample">
                                            Zobacz listę
                                        </a>
                                        <div class="collapse" id="b{{order.order_nr}}">
                                            <p>
                                                {% for product in order.products.all %}
                                                    {{product.product.name}} - {{product.amount}}szt.<br><br>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <a class="btn btn-warning" href="{% url 'order_details' order.order_nr %}">Szczegóły</a>
                                    </td>
                                    <td>Dostarczone</td>
                                </tr>
                            {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>
        <a type="button" class="btn btn-lg btn-outline-dark" href="/settings" id="go_back">Powrót</a>
    </div>

{% endblock %}