{% extends 'navMenu.html' %}

{% block additional %}
    {% load static %}
        <link href="{% static 'store/unavailable.css' %}" rel="stylesheet">
        <link href="{% static 'store/archive_orders.css' %}" rel="stylesheet">
    {% endblock %}
{% block main %}
    <div class="container">
        <h3>Edytuj komentarze</h3>
    </div>

    <div style="min-height: 74vh; margin: 0 auto;" class="container">
        <a class="heading" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="collapseExample">
          Filtry
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
        </a>
        <div id="filters" class="mb-5 collapse">
            <div class="card card-body container m-auto">
                <form method="get" class="row">
                  {% csrf_token %}
                  <div class="col-md-3 d-flex flex-column">
                    <label>ID opinii:</label>
                    <input id="opinion_id" name="opinion_id">
                  </div>
                  <div class="col-md-3 d-flex flex-column">
                    <label>ID klienta:</label>
                    <input name="client_id" id="client_id">
                  </div>
                  <div class="col-md-6 d-flex flex-column">
                    <label>Nazwa mebla:</label>
                    <input name="product_name" id="product_name">
                  </div>

                  <button type="submit" class="btn btn-outline-dark mt-3 col-md-3 col-sm-4 m-auto">Wyszukaj</button>
                </form>
            </div>
        </div>


        <table class="table align-middle">
          <thead>
              <tr>
                  <th>ID opinii</th>
                  <th>ID::Użytkownik</th>
                  <th>Mebel</th>
                  <th>Ocena</th>
                  <th>Treść opinii</th>
                  <th>Działania</th>
              </tr>
          </thead>
          <tbody>
              {% for opinion in object_list %}
                <tr>
                    <td>{{opinion.id}}</td>
                    <td>{{opinion.user.id}}::{{opinion.user.first_name}} {{opinion.user.last_name}}</td>
                    <td>{{opinion.furniture.name}}</td>
                    <td>{{opinion.rating}}/5</td>
                    <td>{{opinion.opinion}}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'opinions_admin_edit' opinion.id %}">Usuń treść opinii</a>
                        <a class="btn btn-danger" href="{% url 'opinions_admin_delete' opinion.id %}">Usuń opinię wraz z oceną</a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>

        <a type="button" class="btn btn-lg btn-outline-dark" href="/settings" id="go_back">Powrót</a>
    </div>

{% endblock %}