{% extends 'navMenu.html' %}

{% block additional %}
    {% load static %}
    <link href="{% static 'store/opinions.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container">
        <h3>Opinie i oceny</h3>
    </div>

    <div id="main" class="container text-black" style="min-height: 74vh;">
        <a class="heading" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="collapseExample">
          Filtry i sortowanie
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
        </a>
        <div class="collapse" id="filters">
          <form method="get" class="row">
            {% csrf_token %}
            <div class="col-md-4 d-flex flex-column">
              <label class="align-middle form-label">Nazwa mebla:</label>
              <input id="prod_name" name="prod_name">
            </div>

            <div class="col-md-4 d-flex flex-column">
              <label for="sort_by_id" class="align-middle form-label">Sortuj według:</label>
              <select id="sort_by_id" name="sort_by">
                  <option value="furniture__name">Nazwa mebla</option>
                  <option value="rating">Ocena</option>
                  <option value="opinion">Opinia</option>
              </select>
            </div>
            <div class="col-md-4 d-flex flex-column">
              <label for="sort_order_id" class="align-middle form-label">Kolejność</label>
              <select id="sort_order_id" name="order">
                  <option value="asc">Rosnąco</option>
                  <option value="desc">Malejąco</option>
              </select>
            </div>
            <button type="submit" class="btn btn-outline-dark mt-3 col-md-3 col-sm-4 m-auto">Wyszukaj</button>
          </form>
        </div>

        <a class="heading collapsed" data-bs-toggle="collapse" href="#opinions" role="button" aria-expanded="true" aria-controls="collapseExample">
          Szczegóły
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
        </a>
        <div class="collapse show settings" id="opinions">
        <table class="table align-middle">
          <thead>
              <tr>
                  <th>Nazwa mebla</th>
                  <th>Ocena</th>
                  <th>Opinia</th>
                  <th>Działania</th>
              </tr>
          </thead>
          <tbody>
              {% for opinion in object_list %}
                <tr>
                    <td>{{opinion.furniture.name}}</td>
                    <td>{{opinion.rating}}/5</td>
                    <td>{{opinion.opinion}}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'opinion_edit' opinion.id %}">Edytuj</a>
                        <a class="btn btn-danger" href="{% url 'delete_opinion' opinion.id %}">Usuń</a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
        <a type="button" class="btn btn-lg btn-outline-dark" href="/settings" id="go_back">Powrót</a>
    </div>


{% endblock %}