{% extends 'navMenu.html' %}
{% block title %}Archiwum zamówień{% endblock %}
{% block additional %}
    {% load static %}
    <link href="{% static 'store/unavailable.css' %}" rel="stylesheet">
    <link href="{% static 'store/archive_orders.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container">
        <h3>Archiwum zamówień</h3>
    </div>

    <div class="container" style="min-height: 74vh; margin: 0 auto;">
        <a class="heading" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="collapseExample">
          Filtry
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
        </a>
        <div id="filters" class="mb-5 collapse">
            <div class="card card-body container m-auto">
                <form method="get" class="row">
                  {% csrf_token %}
                  <div class="col-md-6 d-flex flex-column">
                    <label>Nr. zamówienia:</label>
                    <input id="order_nr" name="order_nr">
                  </div>
                  <div class="col-md-6 d-flex flex-column">
                    <label>Id klienta:</label>
                    <input name="client_id" id="client_id">
                  </div>

                  <div class="col-md-6 d-flex flex-column">
                    <label for="sort_by_id" class="align-middle form-label">Sortuj według:</label>
                    <select id="sort_by_id" name="sort_by">
                        <option value="order_nr">Nr. zamówienia</option>
                        <option value="user__id">ID klienta</option>
                        <option value="user__first_name">Imię klienta</option>
                        <option value="user__last_name">Nazwisko klienta</option>
                        <option value="price">Cena</option>
                    </select>
                  </div>
                  <div class="col-md-6 d-flex flex-column">
                    <label for="sort_order_id" class="align-middle form-label">Kolejność</label>
                    <select id="sort_order_id" name="order">
                        <option value="asc">Rosnąco</option>
                        <option value="desc">Malejąco</option>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-outline-dark mt-3 col-md-3 col-sm-4 m-auto">Wyszukaj</button>
                </form>
            </div>
        </div>
        <a class="heading collapsed" data-bs-toggle="collapse" href="#actual" role="button" aria-expanded="true" aria-controls="collapseExample">
          Aktualne
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
        </a>
        <div id="actual" class="collapse show">
            <table class="table align-middle">
              <thead style="text-align: center;">
                  <tr>
                      <th>Nr. zamówienia</th>
                      <th>Nr. klienta</th>
                      <th>Imię i nazwisko klienta</th>
                      <th>Produkty</th>
                      <th>Cena łączna (zł)</th>
                      <th>Status</th>
                      <th>Działania</th>
                  </tr>
              </thead>
              <tbody>
                  {% for order in object_list %}
                    {% if order.status != 'ordered' %}
                        <tr>
                            <td>{{order.order_nr}}</td>
                            <td>{{order.user.id}}</td>
                            <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                            <td>
                                <a class="products" data-bs-toggle="collapse" href="#a{{order.order_nr}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Zobacz listę
                                </a>
                                <div class="collapse" id="a{{order.order_nr}}">
                                    <p class="product">
                                        {% for product in order.products.all %}
                                            {{product.product.name}} - {{product.amount}}szt.<br><br>
                                        {% endfor %}
                                    </p>
                                </div>
                                <a class="btn btn-warning" href="{% url 'all_details' order.order_nr %}">Szczegóły</a>
                            </td>
                            <td>{{order.price}}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <select name="status">
                                        {% if order.status == 'unsent' %}
                                            <option selected value="unsent+{{order.id}}">W magazynie</option>
                                        {% endif %}
                                        <option {% if order.status == 'sent' %} selected {% endif %} value='sent+{{order.id}}'>W drodze</option>
                                        {% if order.status == 'sent' %}
                                            <option value="ordered+{{order.id}}">Dostarczone</option>
                                        {% endif %}
                                    </select>
                                    <button class="btn btn-warning" type="submit">Zmień</button>
                                </form>
                            </td>
                            <td>
                                {% if order.status == 'unsent' %}
                                    <a href="{% url 'order_edit' order.order_nr%}" class="btn btn-warning">Edytuj</a>
                                    <a href="{% url 'cancel_order' order.order_nr %}" class="btn btn-danger">Anuluj</a>
                                {% else %}
                                    <p>Brak dostępnych działań dla tego zamówienia</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
        </div>

        <a class="heading collapsed" data-bs-toggle="collapse" href="#archival" role="button" aria-expanded="true" aria-controls="collapseExample">
          Archiwalne
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
        </a>
        <div id="archival" class="collapse show">
            <table class="table align-middle">
              <thead style="text-align: center;">
                  <tr>
                      <th>Nr. zamówienia</th>
                      <th>Nr. klienta</th>
                      <th>Imię i nazwisko klienta</th>
                      <th>Produkty</th>
                      <th>Cena łączna (zł)</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  {% for order in object_list %}
                    {% if order.status == 'ordered' %}
                        <tr>
                            <td>{{order.order_nr}}</td>
                            <td>{{order.user.id}}</td>
                            <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                            <td>
                                <a class="products" data-bs-toggle="collapse" href="#b{{order.order_nr}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Zobacz listę
                                </a>
                                <div class="collapse" id="b{{order.order_nr}}">
                                    <p class="product">
                                        {% for product in order.products.all %}
                                            {{product.product.name}} - {{product.amount}}szt.<br><br>
                                        {% endfor %}
                                    </p>
                                </div>
                                <a class="btn btn-warning" href="{% url 'all_details' order.order_nr %}">Szczegóły</a>
                            </td>
                            <td>{{order.price}}</td>
                            <td>Dostarczone</td>
                        </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
        </div>

        <a type="button" class="btn btn-lg btn-outline-dark" href="/settings" id="go_back">Powrót</a>
    </div>

{% endblock %}